---
title: Compass Neu Home
crumb: Home
body_id: home
layout: homepage
---
%h1#logo Compass
%h2 <strong>Compass</strong> is an open-source <em>CSS Authoring Framework</em>.
.overview
  .compass
    %h4 Why designers love Compass.
    %ol
      %li Experience cleaner markup without presentational classes.
      %li It’s chock full of the web’s best reusable patterns.
      %li Developing a personal framework is simple. 
      %li Compass mixins make CSS3 easy.
      %li Download and create extensions with ease.
  .sass
    %h4 Compass uses Sass.
    %p
      <a href="http://sass-lang.com/">Sass</a> is an extension of CSS3 which
      adds nested rules, variables, mixins, selector inheritance, and more.
      Sass generates well formatted CSS and makes your stylesheets
      easier to organize and maintain.

  %p.note
    Note: Compass.app is a product of Handlino, Inc but
    30% of all proceeds go to Compass's charity of choice: <a href="http://umdf.org/compass">UMDF.org</a>.
