--- 
title: Compass Compass2
crumb: Compass2
framework: compass
stylesheet: _compass2.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.hghjg hggjgh hghjghghg gfgf
